{% extends 'base.html'%}

{% block title %}Sign up!{% endblock %}

{% block content %}
<form id="add-user-form" method="POST">
    {{ form.hidden_tag() }}
    {% for field in form if field.widget.input_type != 'hidden' %}
    <div class="add-user-form--item input-wrapper">
        {{field.label(class_="")}}
        {{field(class_="")}}
        {% for error in field.errors %}
        {{ error }}
        {% endfor %}
    </div>
    {% endfor %}
    <button class="add-btn add-btn--cancel {{hide_cancel_btn}}">Cancel</button>
    <button type="submit" class="add-btn">Submit</button>
</form>
<h4>Already have an account? <a href="/login">Log in here</a></h4>
{% endblock %}